.container {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

.form-container {
  width: 100%;
}

button {
  display: block;
  float: right;
}

mat-form-field {
  width: 100%;
}

mat-checkbox {
  display: block;
  margin-bottom: 15px;
}

mat-radio-button {
  padding-right: 10px;
}

.contactInfo {
  margin-top: 10px;
}
