rules_version = '2';
service cloud.firestore {
match /{collectionName}/{documentId} {
   allow read, write : if collectionName === "movies" || "tvShows";
}
}